<div class="similar-posts-section">
    <div class="section-title">
        <h2>Similar pieces</h2>
    </div>
    <div class="similar-grid">
        <% for (const item of items) { %>
            <div class="article-card plain-border">
                <span class="category-badge">
                    <%= item.categories ? item.categories[0] : 'Article' %>
                </span>
                <div class="article-body">
                    <h3><a href="<%- item.path.replace('.qmd', '.html') %>">
                            <%= item.title %>
                        </a></h3>
                    <div class="author">Words by <a href="/archive.html#author=<%= encodeURIComponent(item.author) %>">
                            <%= item.author %>
                        </a></div>
                    <p>
                        <%= item.description %>
                    </p>
                </div>
                <div class="article-footer">
                    <span class="category-tag">
                        <a
                            href="/archive.html#category=<%= encodeURIComponent(item.categories ? item.categories[0] : 'Article') %>">
                            <%= item.categories ? item.categories[0] : 'Article' %>
                        </a>
                    </span>
                    <a href="<%- item.path.replace('.qmd', '.html') %>" class="read-more">Read more &rarr;</a>
                </div>
            </div>
            <% } %>
    </div>
</div>